@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap');

/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  flex-grow: 1;
}

/* Title Section */
.header-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Conditions Section */
.conditions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px; /* Reduced space between the conditions and next button */
}

.condition-item {
  display: flex;
  align-items: center;
  margin: 4px 0;
  cursor: pointer;
}

/* Wrapper for the checkbox and label */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 2px solid #323232;
  border-radius: 30px;
  background-color: #323232;
  transition: border-color 0.3s ease;
  cursor: pointer;
  width: 100%;
}

/* Hover effect when not selected */
.checkbox-wrapper:hover {
  border-color: #A763FF;
}

/* Apply purple border only when selected */
.checkbox-wrapper--selected {
  border-color: #A763FF;
}

/* Checkbox Styles */
.checkbox {
  width: 26px;
  height: 26px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #323232;
}

/* When selected, change the border color */
.checkbox--selected {
  border-color: #A763FF;
}

/* Checkmark inside the checkbox */
.checkmark {
  font-size: 18px; /* Size of checkmark */
  color: #A763FF; /* Checkmark color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the checkmark */
}

/* Text Style */
.text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

/* Button Styles */
.button {
  padding: 15px;
  background-color: #A763FF;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  margin-top: -10px;
  width: 100%;
  max-width: 350px;
}

.button:hover {
  background-color: #8a4fff;
}

.button:disabled {
  background-color: #8a4fff;
  cursor: not-allowed;
}