@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --font-primary: 'Montserrat', sans-serif;
    --Black: #000;
    --White: #FFF;  /* Define the White color */
    --input-bg: #323232;
    --highlight-color: #A763FF;
    --highlight-hover: #8a4fff;
    --active-color: #3628cc;
    --disabled-color: gray;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    flex-grow: 1;
  }

  .no-padding {
    padding: 20px 0;
  }

.justify-content-center {
    justify-content: center;
  }

  .smaller-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #1C1C1E;
    color: #fff;
    flex-grow: 1;
  }

  .title-section {
    width: 100%;
    max-width: 350px;
    margin: 60px 0 0px;
    text-align: left;
  }

  .review-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .review-text {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }

.header-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

.header-text {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Loading content styles */
.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  font-size: 50px; /* Adjust the size of the loading spinner */
  margin-bottom: 10px;
  color: #a763ff;  /* Color for the loading spinner */
}

.loading-text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
}

.label {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  width: 100%;
  margin-bottom: 7px;
}

.section {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 95%
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: var(--input-bg);
  color: var(--White);
  border: none;
  border-radius: 8px;
  margin-bottom: 28px;
}

.text {
    font-size: 14px;
    color: var(--White);
    display: inline-flex;
    align-items: center;
    height: 100%;
}

/* Summary Card */
.summary-card {
    background-color: #323232;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

.summary-card p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 25%;
  margin-bottom: 20px;
}

.summary-card .activity-text p {
    display: inline; /* Make the paragraphs display on the same line */
    margin: 0; /* Remove default margins */
    font-size: 14px;  /* Set font size for both text parts */
  }
  
  .summary-card .activity {
    font-size: 16px;  
    font-weight: 700;  
  }
  
  .summary-card .workout-time {
    color: #8E8E93;  /* Set color to the desired shade */
    font-weight: 500; /* Regular weight for the time text */
  }

  .summary-card .add-card {
    display: flex;  /* Use flexbox to align items in a row */
    align-items: center;  /* Vertically center the items */
    cursor: pointer;  /* Optional: Makes the button clickable */
  }

  .summary-card .add {
    color: #8E8E93;  
    font-size: 14px;
    margin-top: 20px;
    margin-left: 32px;
  }

  .summary-card .plus {
    color: #8E8E93;  
    margin-left: 42px;
    font-size: 18px;  
  }

  .date-container {
    display: flex;
    justify-content: space-between; /* Distribute space between "Monday" and "30 min" */
    padding: 10px;
  }

/* New container for "Strength" and "30 min Total Body" */
.activity-container {
    display: flex;
    align-items: center;  /* Aligns items vertically in the center */
    padding: 5px 0;
    margin-left: 20px;  /* Optional margin for alignment */
  }
  
  .circle {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 60px;  /* Diameter of the circle */
    height: 60px;  /* Diameter of the circle */
    background-color: #3A3A3C;  /* Circle color */
    border-radius: 50%;  /* Makes it circular */
  }

  .running { 
    color: #a763ff; 
    font-size: 20px;
  }
  
  .activity-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .purple-date {
    color: #a763ff; /* Purple color */
  }  

.date-label {
    font-size: 16px;
    font-weight: 700;  /* Bold text */
    margin-left: 10px; /* Add 20px of space to the left */
    color: #fff; /* Text color (white) */
  }

  .total-duration {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px; /* Add 20px of space to the left */
    color: #fff;
  }
  
  /* Line Under "Monday" */
  .line-under-day {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);  /* Faint line */
    margin: 0;  /* Remove margins */
    padding: 0; /* Remove padding */
  }
  
  /* Line Under "30 min Total Body" */
  .line-under-details {
    width: 73%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);  /* Faint line */
    margin-left: 27%;  /* Remove margins */
    padding: 0; 
  } 

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 20px;
}

/* Large Cards Section */
.large-cards-section {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 13px; /* Adds consistent spacing between cards */
}

.card-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.relative {
  position: relative;
}

.card.large-card {
  background-color: #323232;
  border-radius: 0 0 10px 10px;
  width: 320px; /* Uniform width for all larger cards */
  height: 180px; /* Uniform height for all larger cards */
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; /* Center text in the card */
  align-items: center;
}

.large-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: top right;
  border-radius: 10px 10px 0 0;
}

/* Header styling */
.card-header0 {
  font-size: 14px;
  color: #a763ff; 
}

.white {
  color: white;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* White header text */
}

/* Button styling */
.card-button {
  border-radius: 15px;
  background-color: #a763ff;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 90%;
  padding: 19px 39px; 
  margin-top: 10px; 
}

.button-row {
  display: flex;
  gap: 4px; /* Adjust the space between buttons */
  justify-content: center; /* Centers buttons horizontally */
}

.section-label {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  position: relative;
}

/* Smaller Cards Section */
.small-cards-section {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 13px; /* Adds consistent spacing between cards */
}

.card-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-image {
  background-color: #323232;
  border-radius: 10px;
  width: 153px; /* Uniform width for all smaller cards */
  height: 104px; /* Uniform height for all smaller cards */
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  object-fit: cover;
}

.card-title.small-card-title {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-top: 5px;
}

.card-caption.small-card-caption {
  font-size: 12px;
  color: #ccc;
}

.large-cards-section::-webkit-scrollbar,
.small-cards-section::-webkit-scrollbar {
  display: none; 
}

/* Footer Menu */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(28, 28, 30, 0.9);
  /* background-color: rgba(50, 50, 50, 0.95);  */
  border-top: 0.33px solid rgba(0, 0, 0, 0.3);
}

.footer-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
}

/* Menu Item */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-item .icon {
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.footer-menu > .menu-item:nth-child(1) svg {
    transform: rotate(45deg);
}

.menu-label {
  margin-top: 5px;
}

.menu-item.active .icon {
  color: #a763ff;
}
  
.menu-item:hover .menu-label,
.menu-item.active .menu-label {
    color: #a763ff;
}

.plan-card {
    background-color: #323232;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

/* Week Days */
.week-days {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Very faint line to separate */
  padding-bottom: 8px; /* Add some space below the days */
  width: 100%; /* Make sure the line spans the entire width of the card */
}

.week-day {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.week-day.selected {
  color: #fff;
  background-color: #a763ff;
}

/* Dropdown Section */
.dropdown-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.dropdown-label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.dropdown {
  padding: 12px 8px;
  background-color: #323232;
  border-radius: 10px;
  border: 2px solid #323232;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

/* Plan Summary Section */
.plan-summary {
  margin-bottom: 0px;
}

.plan-summary-dropdown {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Very faint line to separate */
    padding-bottom: 0px; /* Add space below the dropdown */
    width: 100%; /* Make sure the line spans the entire width of the card */
  }
  
  .plan-summary-dropdown:last-child {
    border-bottom: none;
    margin-bottom: 0px;
  }

  
.plan-summary-dropdown .label {
  flex: 1;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.plan-summary-dropdown select {
  flex: 0.5;
  padding: 4px 10px;
  background-color: #323232;
  border-radius: 10px;
  border: 2px solid #323232;
  color: #fff;
  cursor: pointer;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

/* Activity Types Section */
.activity-types {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.activity-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.activity-card {
  background-color: #323232;
  border-radius: 10px;
  width: 32%;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
}

.selected {
  background-color: #a763ff;
  border: 2px solid #a763ff;
}

.activity-icon {
  position: absolute;
  color: #8E8E93;
  font-size: 14px;
  top: 15px;
  left: 10px;
}

.activity-title {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.yes-no-container {
  display: flex; 
  width: 100%;
  justify-content: space-evenly;
  gap: 10px; 
}

.yes-no-btn {
  flex: 1;
  border-radius: 10px;
  background-color: #323232;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 17px 39px; 
  cursor: pointer; /* Add pointer cursor for better UX */
  transition: background-color 0.3s ease;
}

.yes-no-btn.active {
  background-color: #a763ff;
}

.pfp-button {
  border-radius: 15px;
  background-color: #a763ff;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 19px 39px; 
  width: 100%;
}

.button {
  border-radius: 15px;
  background-color: #a763ff;
  position: fixed; /* Fixed positioning */
  bottom: 20px; /* Position from the bottom of the screen */
  left: 50%; /* Centers the button horizontally */
  transform: translateX(-50%); /* Compensates for the width to truly center it */
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 19px 39px; 
  width: 90%;
  z-index: 999; /* Ensures the button is on top of other elements */
}

.button:disabled {
  background-color: #323232;
  cursor: not-allowed;
}

.button.active {
    background-color: var(--active-color);
}

  /* Back Button */
  .back-btn {
      text-align: left;
      background-color: transparent;
      font-size: 16px;
      color: #A763FF;
      border: none;
      cursor: pointer;
    }

/* Error message styling */
.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Conditions Section */
.conditions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px; /* Reduced space between the conditions and next button */
}

.condition-item {
  display: flex;
  align-items: center;
  margin: 4px 0;
  cursor: pointer;
}

/* Wrapper for the checkbox and label */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  align-self: flex-start;
  height: 44px;
  padding: 10px 12px;
  border: 2px solid #323232;
  border-radius: 30px;
  background-color: #323232;
  transition: border-color 0.3s ease;
  cursor: pointer;
  width: 100%;
}

/* Apply purple border only when selected */
.checkbox-wrapper--selected {
  border-color: #A763FF;
}

/* Checkbox Styles */
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #323232;
}

/* When selected, change the border color */
.checkbox--selected {
  border-color: #A763FF;
}

/* Checkmark inside the checkbox */
.checkmark {
  font-size: 14px; /* Size of checkmark */
  color: #A763FF; /* Checkmark color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the checkmark */
}

.progress-summary {
  width: 100%;
  max-width: 350px;
  margin: 9px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progress-card {
  background-color: #323232;
  border-radius: 10px;
  margin-top: 9px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-main {
  border-radius: 10px;
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.progress-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 100%;
  background-color: #555;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress-completed {
  height: 10px;
  background-color: #a763ff;
  border-radius: 5px;
}

.training-section {
  display: flex; 
  width: 100%;
  justify-content: space-between;
  gap: 9px; 
  margin-top: 9px;
}

.training-card {
  flex: 0 1 100%;
  background-color: #323232;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 130px; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.training-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  margin-top: 0px;
  gap: 15px;
}

.training {
  font-size: 26px;
  color: #a763ff;
}

.training-text {
    font-size: 16px;
    font-weight: 700;
}

.session-section {
  display: flex; 
  width: 100%;
  justify-content: space-between;
  gap: 9px; 
  margin-top: 9px;
  margin-bottom: 45px;
}

.session-card {
  flex: 0 1 100%;
  background-color: #323232;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.session-container {
  display: flex;
  align-items: center;  /* Aligns items vertically in the center */
}

.session-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 9px;
  margin-top: 0px;
  gap: 15px;
  width: 306px;
}

.running { 
  color: #a763ff; 
  font-size: 20px;
}

.session-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.session {
  font-size: 16px;
}

.session-label {
  font-size: 32px;
  color: #A763FF;
}

.progress-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.progress-text {
  color: #fff;
}

.graph-section {
  display: flex; 
  width: 100%;
  justify-content: space-between;
  gap: 9px; 
  margin-top: 9px;
}

.graph-card {
  flex: 0 1 50%;
  background-color: #323232;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 180px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graph-label {
    font-size: 16px;
    font-weight: 700;  /* Bold text */
    margin-top: 9px;
    margin-left: 10px; /* Add 20px of space to the left */
    color: #fff; /* Text color (white) */
}

.community-section {
  width: 100%;
  max-width: 350px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.community-card {
  background-color: #323232;
  border-radius: 10px;
  padding: 15px;
}

.community-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.community-content {
  font-size: 16px;
  color: #fff;
}

.discussion-item, .event-item {
  margin: 10px 0;
  cursor: pointer;
}

.discussion-item:hover, .event-item:hover {
  color: #a763ff;
}

.profile-card {
  background-color: #323232;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-photo-placeholder {
  width: 80px;
  height: 80px;
  background-color: #555;
  border-radius: 50%;
}

.profile-details {
  color: #fff;
}

.profile-name {
  font-size: 20px;
  font-weight: 700;
}

.profile-email {
  font-size: 16px;
  color: #bbb;
}

.profile-actions {
  margin-top: 20px;
}

.button {
  background-color: #a763ff;
  color: #fff;
  border: none;
  padding: 19px 39px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px 0;
}